name: C/C++ CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update package list for i386
      run: sudo dpkg --add-architecture i386 && sudo apt-get -y update
    - name: Install packages
      run: sudo apt-get -y install build-essential g++-multilib gcc-mingw-w64 g++-mingw-w64
    - name: Linux build
      run: make
    - name: Create Linux asset
      run: |
          tar c addons | xz > jk_botti-${{ steps.get_version.outputs.VERSION }}-linux.tar.xz       
    - name: Upload Linux build result
      uses: actions/upload-artifact@v4
      with:
          name: jk_botti-${{ steps.get_version.outputs.VERSION }}-linux.tar.xz 
          path: ./jk_botti-${{ steps.get_version.outputs.VERSION }}-linux.tar.xz  
    
    - name: Cleanup before Windows build
      run: git clean -xdf
    - name: Windows build
      run: make OSTYPE=win32
    - name: Create Windows asset
      run: |
          tar c addons | xz > jk_botti-${{ steps.get_version.outputs.VERSION }}-windows.tar.xz 
    
    - name: Upload Windows build result
      uses: actions/upload-artifact@v4
      with:
          name: jk_botti-${{ steps.get_version.outputs.VERSION }}-windows.tar.xz 
          path: ./jk_botti-${{ steps.get_version.outputs.VERSION }}-windows.tar.xz 
